{% extends 'Admin/base.html.twig' %}

{% block body %}
    <div class="card ">
        <div class="card-header ">
            <h4 class="card-title"><i class="nc-icon nc-check-2"></i> Book Added Successfully</h4>
        </div>
        <div class="card-body ">
            <p class="lead">
                The Book Was Added Successfully, You can add its content now.
            </p>
        </div>
    </div>
{% endblock %}