{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="card ">
        <div class="card-header ">
            <h4 class="card-title">Upload a file</h4>
        </div>
        <div class="card-body ">
            <form action="/admin/books/upload-file" method="post" enctype="multipart/form-data">
                <div class="">
                Select file to upload:
                <input type="hidden" name="MAX_FILE_SIZE" value="8388608">
                <input type="hidden" name="isbn" value="{{ isbn }}">
                <input type="file" name="upload" id="upload"
                class="btn btn-primary btn-round">
                </div>
                <input type="submit" value="Upload File" name="submit"
                class="btn btn-primary btn-round">
            </form>
        </div>
    </div>
{% endblock %}