{% extends 'Admin/base.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-header ">
            <h4 class="card-title">Chapter History</h4>
        </div>
        <div class="card-body ">
            <div class="table-responsive">
                <table class="table">
                    <thead class="text-primary">
                    <tr><th class="text-center">
                            username
                        </th>
                        <th class="text-center">
                            Time of edit
                        </th>
                    </tr></thead>
                    <tbody>

                    {% for record in history %}
                        <tr>
                            <td class="text-center">
                                {{ record.username }}
                            </td>
                            <td class="text-center">
                                {{ record.created_at }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}