<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         verbose="true"
         bootstrap="vendor/autoload.php">
	<testsuites>
		<testsuite name="Test suite">
			<directory>Tests</directory>
		</testsuite>
	</testsuites>
	<php>
		<server name='HTTP_HOST' value='http://localhost'/>
	</php>
</phpunit>
