{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
    <div class="card col-md-8">
{#        <div class="card-header">#}
{#            <div class="card-title text-center"><h1>{{ chapter.title }}</h1></div>#}
{#        </div>#}
        <div class="card-body mt-5 container">
            {{ chapter.content|raw }}
        </div>
    </div>
    <div class="col-md-4 p-md-5 p-0">
        <iframe style="position: sticky; right: 0; top: 30%; margin: auto auto;" width="560" height="315" src="https://www.youtube.com/embed/sTd4O8bfVTw" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"></iframe>
    </div>
    </div>
{% endblock %}