{% extends 'base.html.twig' %}

{% block body %}
    <form action="/replies/submit-report/{{ reply.id }}" class="mt-5" method="post">
        <div>
            <label for="inputText">Report</label>
            <textarea class="form-control" id="inputText" name="text" placeholder="Report Message" aria-describedby="helpBlock" maxlength="255" required></textarea>
            <span id="helpBlock" class="d-block mt-2 mb-2 font-italic">Max Characters 255</span>
        </div>
        <input type="submit" value="Submit Report" class="btn btn-lg btn-danger mt-2">
    </form>
{% endblock %}